[Unit]
Description=Huawei router monitoring service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/RouterMonitor/routermonitor.py
PIDFile=/var/run/routermonitor.pid
Restart=always
RestartSec=20

[Install]
WantedBy=multi-user.target
